<extend name="Public/tpl_base"/>
<block name="left_navi">
<include file="Public/tpl_user_menu"/>
</block>
<block name="right_content">

<table class="table table-bordered table-hover">
  <thead>

	<th>ID</th>
	<th>用户名</th>
	<th>登录IP</th>
	<th>注册时间</th>
	<th>最后登录时间</th>
  </thead>
  <tbody>
  
  <foreach name="now_page_content_list" item="user">
	<tr>
		<td>{$user.id}</td>
		<td>{$user.username}</td>
		<td>{$user.ip}</td>
		<td>{$user.regist_time}</td>
		<td>{$user.last_time}</td>
	</tr>
  </foreach>

  </tbody>

</table>

<nav align="center">
  <ul class="pagination">
	 
    <li>
      <a href="__URL__/showUserList/p/{$previous_page}" aria-label="Previous">
        <span aria-hidden="true">上一页</span>
      </a>
    </li>

	<for start="1" end="$page_count+1">
		<li><a href="__URL__/showUserList/p/{$i}">{$i}</a></li>
		
	</for>
    <li>
      <a href="__URL__/showUserList/p/{$next_page}" aria-label="Next">
        <span aria-hidden="true">下一页</span>
      </a>
	   <li>
	  
		<span> 查询到{$total_count}个会员 </span>
	</li>
    </li>
  </ul>
 
</nav>


</block>


