<extend name="Public/tpl_base"/>
<block name="left_navi">
<include file="Public/tpl_user_menu"/>
</block>
<block name="right_content">

<table class="table table-bordered table-hover">
  <thead>

	<th>ID</th>
	<th>用户名</th>
	<th>登录IP</th>
	<th>注册时间</th>
	<th>最后登录时间</th>
  </thead>
  <tbody>
  
  <foreach name="list" item="user">
	<tr>
		<td>{$user.id}</td>
		<td>{$user.username}</td>
		<td>{$user.ip}</td>
		<td>{$user.regist_time}</td>
		<td>{$user.last_time}</td>
	</tr>
  </foreach>

  </tbody>

</table>

<nav align="center">
  <ul class="pagination">
	{$page}
  </ul>
 
</nav>


</block>


