<footer>
<style type="text/css">

.w {
width: 990px;
margin: 0 auto;

}
#footer{
	padding-bottom: 30px;
	text-align: center;
}
#footer .links a{
	color: #666;
	text-decoration: none;
	margin: 0 10px;
}
</style>
<div class="w">
	<div id="footer">
		<div class="links">
		
			<a rel="nofollow" target="_blank" href="#">
			关于我们
			</a>
			|
			<a rel="nofollow" target="_blank" href="#">
			联系我们
			</a>
			|
			<a rel="nofollow" target="_blank" href="#">
			人才招聘
			</a>
			|
			<a rel="nofollow" target="_blank" href="#">
			友情链接
			</a>
		</div>
		<div class="copyright">
			copyright@2015&nbsp;huwei
			
		</div>
	</div>
</div>
</footer>