<div class="list-group">

  <!--<a href="#" class="list-group-item active accordion-toggle" data-toggle="collapse" data-parent="#list-group" href="#11">
    会员管理-->
	
	<a class=" list-group-item active accordion-toggle" data-toggle="collapse" data-parent="#list-group" href="#menu" >
	 会员管理
  </a>

  <div id="menu" class="collapse in">		
  <a href="#" class="list-group-item id="11">&nbsp&nbsp&nbsp&nbsp会员编辑</a>
  <a href="#" class="list-group-item">&nbsp&nbsp&nbsp&nbsp待定</a>
  <a href="#" class="list-group-item">&nbsp&nbsp&nbsp&nbsp待定</a>
  <a href="#" class="list-group-item">&nbsp&nbsp&nbsp&nbsp待定</a>
  </div>
</div>

